body {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6em;

  color: #2a2626;

  margin: auto;
}

h1,
h2,
h3 {
  font-family: "Neucha";
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
}

h3 {
  font-size: 34px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  position: relative;

  max-width: 1110px;

  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
}

.f-size {
  font-size: 60px;
}

.main {
  position: relative;

  overflow-x: hidden;
}

.main-light {
  background-color: #f5f4f0;
}

.questions::before {
  content: "";
  position: absolute;

  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  width: 100%;
  height: 100%;
}

.logo-name {
  position: relative;

  font-weight: normal;

  min-height: 400px;

  z-index: 2;
}

.image-wrapper img {
  position: absolute;

  right: -270px;
  top: 55px;

  height: 525px;
}

.columns {
  display: flex;
  gap: 0 30px;
}

.column {
  flex: 1 0 0;

  font-size: 16px;
}

.column img {
  width: 100%;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.column .margin-tp-0 {
  margin-top: 0;
}

.column .margin-btm-0 {
  margin-bottom: 0;
}

.header-level-4 {
  font-family: "Neucha";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  line-height: 120%;

  margin: 0;
}

.link {
  width: 149px;
  height: 48px;

  padding-top: 38px;
}

.about.caption1 {
  text-align: center;

  margin-bottom: 30px;
  margin-top: 0;
}

.text-card1 {
  text-align: center;

  font-weight: normal;

  height: 26px;
  line-height: 160%;

  font-size: 16px;

  margin-top: 0;
  margin-bottom: 35px;
}

.video {
  display: flex;

  margin-bottom: -200px;
  margin-left: auto;
  margin-right: auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.menu {
  display: flex;
  flex-direction: row;

  margin-top: 100px;
  margin-bottom: 0;
  padding-left: 0;

  flex-wrap: wrap;

  gap: 20px 30px;
}
.menu li {
  list-style-type: none;

  flex: 1 1 30.33%;

  margin-top: 0;
}

.menu .main-light {
  display: block;

  padding-top: 24px;
}

.menu li.main-light:hover {
  background-color: #fe8a02;
}

.menu li.main-light:hover span {
  color: #fff;
}

.menu li.main-light:hover p {
  color: #fff;
}

.menu a {
  display: block;

  height: 100%;

  text-decoration: none;
}

.caption1 {
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
}

.caption.caption1 {
  font-size: 52px;

  margin-top: 0;
  margin-bottom: 0;

  color: #fff;
}

.menu span {
  display: block;
}

.menu h3 {
  font-weight: normal;

  padding: 24px;

  margin-bottom: 0;
  margin-top: 0;
}

.priority {
  font-family: "Neucha";
  font-size: 64px;
  line-height: 1em;

  padding-left: 24px;

  color: #2a2626;
}

.menu p {
  font-size: 16px;

  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;

  color: #2a2626;
}

.theme.caption1 {
  margin-top: 8px;
  margin-bottom: 24px;
}

.caption-2 {
  font-family: "Neucha";

  font-size: 34px;
  font-weight: normal;
  font-style: normal;

  line-height: 120%;

  margin: 0;
}

.content-delimeter {
  margin-top: 100px;
  margin-bottom: 20px;

  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  color: #fff;
}

.action {
  font-family: "Open Sans";
  font-stretch: normal;
  font-size: 14px;
  font-weight: bold;

  line-height: 160%;
}

.main-brown {
  background-color: #b09a81;
}

.orange {
  color: #fe8a02;
}

.button-orange {
  width: 149px;
  height: 50px;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;

  text-decoration: none;
  text-align: center;

  color: #fff;

  font-weight: bold;
  font-size: 16px;

  border: none;

  background-color: #fe8a02;
}

.basic-dark {
  background-color: #42413c;
}

.dark {
  color: #42413c;
}

.subscription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 1110px;
}

.subscription-main-white {
  flex: 1 0 0;

  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 52px;
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;

  color: #fff;
}

.subscription-form {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;

  padding-right: 75px;
}

.mail-form {
  margin-top: 45px;
}

.subscription-mail {
  display: flex;
}

.subscription-mail input {
  border: none;

  width: 394px;

  margin-top: 8px;
}

input::placeholder {
  font-size: 18px;
  text-align: left;
  font-weight: normal;

  opacity: 0.2;

  padding: 15px;
}

.mail-form label {
  font-size: 18px;
  font-weight: bold;

  width: 394px;
  height: 50px;

  color: #fff;
}

.subscription-mail .button-orange {
  padding-bottom: 20px;
  padding-top: 18px;
  margin-top: 8px;

  height: 50px;
  width: 70px;
}

.subscription-mail .button-orange::before {
  content: "";
  position: absolute;

  background-image: url("../../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 20px;
  height: 20px;

  transform: translate(-12px, -8px) rotate(-10deg);
}

.regulations {
  margin-top: 5px;
  font-weight: normal;

  color: #fff;

  font-size: 12px;
}

.regulations a {
  color: #fff;
}

.copyright {
  margin-top: 60px;
  font-size: 14px;

  text-align: center;
}

.white05 {
  color: #d7ccc0;
}

.dark05 {
  color: #908d8b;
}

.column-white {
  color: #fff;
}

.blue {
  color: #1085c5;
}
