body {
  margin: auto;

  color: #2a2626;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h3 {
  font-size: 34px;
}

.content {
  position: relative;

  max-width: 1110px;

  margin: auto;

  padding-top: 100px;
  padding-bottom: 100px;
}

.align-cntr {
  text-align: center;
}

.f-size {
  font-size: 60px;
}

.main {
  position: relative;

  overflow-x: hidden;
}

.questions::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.logo-name {
  position: relative;

  z-index: 2;

  min-height: 400px;

  font-weight: normal;
}

.image-wrapper {
  position: absolute;

  top: 55px;

  right: -270px;

  height: 525px;
}

.columns {
  display: flex;
  gap: 0 30px;
}

.column {
  flex: 1 0 0;

  font-size: 16px;
}

.picture {
  width: 100%;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.margin-tp-0 {
  margin-top: 0;
}

.margin-btm-0 {
  margin-bottom: 0;
}

.header-level-4 {
  margin: 0;

  font-weight: normal;
  font-size: 24px;
  font-family: "Neucha", sans-serif;

  font-style: normal;

  line-height: 120%;
}

.link {
  width: 149px;
  height: 48px;

  padding-top: 38px;
}

.about {
  margin-top: 0;
  margin-bottom: 30px;
}

.subheading {
  margin-bottom: 35px;
}

.video {
  display: flex;

  margin-right: auto;
  margin-bottom: -200px;
  margin-left: auto;

  border: none;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 20px 30px;

  margin-top: 100px;

  margin-bottom: 0;

  padding-left: 0;
}

.card {
  flex: 1 1 30.33%;

  margin-top: 0;

  list-style-type: none;
}

.padding-tp-24 {
  padding-top: 24px;
}

.link-card {
  display: block;

  height: 100%;

  text-decoration: none;
}

.link-card:hover {
  background-color: #fe8a02;
}

.priority {
  display: block;

  padding-left: 24px;

  font-size: 64px;

  font-family: "Neucha", sans-serif;

  line-height: 1em;
}

.link-card:hover .priority {
  color: #fff;
}

.orange-text {
  color: #fe8a02;
}

.link-card:hover .orange-text {
  color: #fff;
}

.text-card {
  margin-top: 4px;

  padding-right: 24px;
  padding-left: 24px;

  font-size: 16px;
}

.link-card:hover .text-card {
  color: #fff;
}

.caption-1 {
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
}

.caption {
  margin-top: 0;

  font-size: 52px;
}

.theme {
  margin-top: 8px;
  margin-bottom: 24px;
}

.caption-2 {
  margin-top: 0;
  margin-bottom: 0;

  padding: 0;

  font-weight: normal;

  font-size: 34px;

  font-family: "Neucha", sans-serif;

  font-style: normal;

  line-height: 120%;
}

.padding-lft-24 {
  padding-left: 24px;
}

.content-delimeter {
  margin-top: 100px;
  margin-bottom: 20px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.action {
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-stretch: normal;

  line-height: 160%;
}

.button-link {
  width: 149px;
  height: 50px;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;

  font-weight: bold;
  font-size: 16px;

  text-align: center;
  text-decoration: none;

  border: none;
}

.main-footer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 1110px;
}

.subscription-main-white {
  flex: 1 0 0;

  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 52px;
}

.subscription-form {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;

  padding-right: 75px;
}

.mail-form {
  margin-top: 45px;
}

.subscription-mail {
  display: flex;
}

.postal-form {
  width: 394px;

  margin-top: 8px;

  padding: 15px;

  border: none;
}

.postal-form::placeholder {
  font-weight: normal;
  font-size: 18px;
  text-align: left;

  opacity: 0.2;
}

.subtitle {
  width: 394px;
  height: 50px;

  font-weight: bold;

  font-size: 18px;
}

.button {
  width: 70px;
  height: 50px;

  margin-top: 8px;

  padding-top: 18px;

  padding-bottom: 20px;
}

.button::before {
  position: absolute;

  width: 20px;
  height: 20px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  transform: translate(-12px, -8px) rotate(-10deg);

  content: "";
}

.regulations {
  margin-top: 5px;

  font-weight: normal;

  font-size: 12px;
}

.copyright {
  margin-top: 60px;

  font-size: 14px;

  text-align: center;
}

.main-light {
  background-color: #f5f4f0;
}

.basic-dark {
  background-color: #42413c;
}

.dark {
  color: #42413c;
}

.main-brown {
  background-color: #b09a81;
}

.orange {
  background-color: #fe8a02;
}

.figures {
  color: #2a2626;
}

.white-05 {
  color: #d7ccc0;
}

.dark-05 {
  color: #908d8b;
}

.column-white {
  color: #fff;
}

.blue {
  color: #1085c5;
}
