body{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.6em;

    color: #2a2626;
    background: #2a2626 rgba(0,0,0,0);
}


h1,h2,h3{
    font-family: "Neucha";
    line-height: 1.2em;
}
h1{
    font-size: 72px;
}
h2{
    font-size: 60px;
}
h3{
font-size: 34px;
}

section{
    margin: auto;

    max-width: 1110px;

    margin-top: 100px;
    margin-bottom: 100px;
}

.main-light{
    background-color: #f5f4f0;
}

.main-brown{
    background-color: #b09a81;
}

.orange{
    color: #fe8a02;
}

.button-orange{
    background-color: #fe8a02;
}

.basic-dark{
    background-color: #42413c;
}

.breadcrumbs-white05{
color: #d7ccc0;
}

.breadcrumbs-dark05{
    color: #908d8b;
}

.column-white{
    color: #fff;
}

.blue{
    color: #1085c5;
}